# Data and downloaded files
SOLEXS_downloads/data/
VELC_DOWNLOADS/*
!VELC_DOWNLOADS/VELC_SCRIPTS/
!VELC_DOWNLOADS/features
!VELC_DOWNLOADS/processed_images
*.fits
*.zip
*.pdf
HE1OS
# Model files
SOLEXS_downloads/models/
*.pkl

# Caches and logs
__pycache__/
*.log
SOLEXS_downloads/scripts/catboost_info/

# Generated features and outputs
He1os_script/features/
outputs/
fusion_engine/outputs/
